{% extends "general_layout.html" %}

{% block scriptIncludes %}
<script src="{{ url_for('static', filename='js/responsiveness_add.js') }}"></script>
{% endblock %}

{% block page %}
<section class="section">
	<div id="type-sequence-input" class="buttons has-addons">
		<button id="choose-nuc" class="button toggle-button is-primary is-selected" onclick="triggerToggle(event)">Nucleotides</button>
		<button id="choose-ac" class="button toggle-button" onclick="triggerToggle(event)">Amino Acids</button>
	</div>

	<div id="nucleotide-adding">
		<h1 class="title">Adding DNA Sequences</h1>
		<p class="description">This is to upload a new variant of the SARS-cov2 DNA sequence. Which will then be added to the 
		phylogenetic tree.</p>
		<br>
		<div class="columns">
	      	<div class="column is-two-thirds">
		     	<span class="description">Choose or upload a sequence:</span>
		      	<form action="" method="POST" enctype="multipart/form-data">
		        	<div class="columns">
			        	<div class="field is-grouped">
			        		<span class="control column is-one-fourth">
			        			<input class="input" type="text" placeholder="identifier e.g. NC_045512.2">
			        		</span>

			        		<span class="control column is-one-fourth">
			        			<input class="input" type="text" placeholder="start sequence e.g. 27756">
			        		</span>

			        		<span class="control column is-one-fourth">
			        			<input class="input" type="text" placeholder="end sequence e.g. 27887">
			        		</span>

			             	
			                <span class="control column is-one-fourth">
			        			<input class="input" type="text" placeholder="protein e.g. nsp3">
			        		</span>
			            </div>
		        	</div>
			        <div class="columns">
				        <div class="column is-four-fifh is-desktop">
				        	<div class="field">
				            	<div class="control is-medium">  <!-- TODO loading for checking input -->
				                	<label>
				                  		<textarea class="textarea" style="height:130px;" placeholder="Sequence Input e.g. CCTTCTCTTGCCACTGTA" name="sequence-text" rows="3"></textarea>
				                	</label>
				            	</div>
				          	</div>
				        </div>

			        	<div class="column is-one-fifth is-desktop">
				            <div id="upload-zone" class="">
				              	<div class="file has-name is-boxed is-medium">
				                	<label class="file-label">
				                  		<input class="file-input" type="file" name="file">
				                  		<span class="file-cta">
				                    		<span class="file-icon"><i class="fas fa-upload"></i></span>
				                    		<span class="file-label">Choose a file…</span>
				                  		</span>
				                  		<span class="file-name"></span>
				                	</label>
				              	</div>
				            </div>
			        	</div>
			        </div>
		        	<br>
			        <div class="field">
			          <p class="control">
			            <button class="button is-primary" type="submit" onclick="void(0)">Analyze</button>
			          </p>
			        </div>

		        	<div id="progress-bar-div"></div>

		      	</form>
	      	</div>
		</div>
	</div>

	<div id="amino-acid-adding" style="display:none;">
		<h1 class="title">Adding Amino Acid Sequences</h1>
		<p class="description">This is to upload a new variant of the SARS-cov2 resulting amino acid sequence. Which will then be added to the phylogenetic tree.</p>
		<br>
		<div class="columns">
			<div class="column is-two-thirds">
				<span class="description">Choose or upload a sequence:</span>
				<form action="" method="POST" enctype="multipart/form-data">
					<div class="columns">		
		        		<span class="control column is-half">
		        			<input class="input" type="text" placeholder="identifier e.g. YP_009742610">
		        		</span>


		             	<span class="control column is-half">
		        			<input class="input" type="text" placeholder="protein e.g. nsp3">
		        		</span>        
					</div>
					<div class="columns">
						<div class="column is-four-fifh is-desktop">
				        	<div class="field">
				            	<div class="control is-medium">  <!-- TODO loading for checking input -->
				                	<label>
				                  		<textarea class="textarea" style="height:130px;" placeholder="Sequence Input e.g. CCTTCTCTTGCCACTGTA" name="sequence-text" rows="3"></textarea>
				                	</label>
				            	</div>
				          	</div>
				        </div>

			        	<div class="column is-one-fifth is-desktop">
				            <div id="upload-zone" class="">
				              	<div class="file has-name is-boxed is-medium">
				                	<label class="file-label">
				                  		<input class="file-input" type="file" name="file">
				                  		<span class="file-cta">
				                    		<span class="file-icon"><i class="fas fa-upload"></i></span>
				                    		<span class="file-label">Choose a file…</span>
				                  		</span>
				                  		<span class="file-name"></span>
				                	</label>
				              	</div>
				            </div>
			        	</div>
					</div>
					<br>
			        <div class="field">
			          <p class="control">
			            <button class="button is-primary" type="submit" onclick="void(0)">Analyze</button>
			          </p>
			        </div>

			        <div id="progress-bar-div"></div>
				</form>
			</div>
		</div>
	</div>

</section>
{% endblock %}

{% block scripts %}

<script>
  const fileInput = document.querySelector('#upload-zone input[type=file]');
  fileInput.onchange = () => {
    if (fileInput.files.length > 0) {
      const fileName = document.querySelector('#upload-zone .file-name');
      fileName.textContent = fileInput.files[0].name;
    }
  }
</script>

{% endblock %}