<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Phylogentic trees</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/universal.css') }}">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      {% block scriptIncludes %}{% endblock %}
  </head>
  <body>
    <div class="container-fluid">
      <nav class="navbar" role="navigation" aria-label="main navigation">
          <a class="navbar-item">
            <img src="{{ url_for('static', filename='bacteria.png') }}">
          </a>

          <div class="navbar-menu">
            <a class="navbar-item" href="{{ url_for('homepage') }}">Home</a>
            <a class="navbar-item" href="{{ url_for('viewData') }}">results</a>
            <a class="navbar-item" href="{{ url_for('addData') }}">add data</a>
            <a class="navbar-item" href="https://github.com/ThomasVanOnsem/SARS-CoV-2-Phylogeny">Project</a>
          </div>

      </nav>
    </div>

    {% block page %}{% endblock %}

    <footer class="footer">
        <div class="content has-text-centered">
            <p>© Universiteit Antwerpen</p>
            <p class="description">Astrid Lamens, Max Van Houcke, Miguel Dagrain, Thomas Van Onsem</p>
        </div>
    </footer>

  </body>
</html>

{% block scripts %}{% endblock %}