<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Phylogentic trees</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/universal.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    {% block stylesheetIncludes %}{% endblock %}
      <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/@svgdotjs/svg.js@3.0/dist/svg.min.js"></script>
    {% block scriptIncludes %}{% endblock %}
  </head>
  <body class="main">
    <div class="container-fluid">
      <nav class="navbar" role="navigation" aria-label="main navigation">
          <a class="navbar-item">
            <img src="{{ url_for('static', filename='bacteria.png') }}">
          </a>

          <div class="navbar-menu">
            <a class="navbar-item" href="{{ url_for('homepage') }}">
                <span class="file-icon"><i class="fas fa-home"></i></span>
                <span>Home</span>
            </a>
            <a class="navbar-item" href="https://github.com/ThomasVanOnsem/SARS-CoV-2-Phylogeny">
                <span class="file-icon"><i class="fab fa-github"></i></span>
                <span>Project</span>
            </a>
          </div>

      </nav>
    </div>

    {% block page %}{% endblock %}
    </body>
    <footer class="footer" style="z-index:10">
        <div class="content has-text-centered">
            <p>© Universiteit Antwerpen</p>
            <p class="description">Astrid Lamens, Max Van Houcke, Miguel Dagrain, Thomas Van Onsem</p>
        </div>
    </footer>
</html>

{% block scripts %}{% endblock %}