.navbar{
    background-color: ghostwhite;
    min-height: 4rem;
    align-content: center;

}

.navbar-container{
    white-space: nowrap;
    overflow: hidden;
    width: 570px;
}

.navbar-item img{
    max-height: 2.9rem;
}

.navbar-item{
    padding-left: .5rem;
    padding-right: .5rem;
}

.description{
    color: lightgray;
    font-style: italic;
}

.centered-img{
    text-align: center;
}

.file.is-boxed .file-cta{
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
}

.column{
    overflow: hidden;
    white-space: nowrap;
}